.btn {
  padding: 18px 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:active {
  color: #fff;
  background-color: #ffad9b;
}
