.your-project {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 96px 46px;
    position: relative;
    top: 80px;
    background-image: url("../../Assets/Images/project-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}
.your-project-left {
  &__title {
    margin: 0;
    padding: 0;
    max-width: 268px;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
  }
  &__disc {
    max-width: 459px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }
}
@media only screen and (max-width: 768px) {
  .your-project {
    &__container {
      flex-direction: column;
      justify-content: center;
    }
  }
  .your-project-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      text-align: center;
    }
    &__disc {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 400px) {
  .your-project {
    &__container {
      padding: 64px 24px;
      top: 60px;
    }
  }
}
